page-home {

    .dates{
        width: 100%;
    }

    .schedules{
        margin-top: 5%;
        // position: relative;
        padding-top: 9%;
       
    }

    .headers{
        
        font-weight: 600;
        text-transform: capitalize;
    }

    .headers1{
        
        font-weight: 600;
        text-transform: capitalize;
        color: #000000
    }

    .content{
        font-weight: 600;
        text-transform: uppercase;
        
        font-weight: bolder;

    }

    .card{
        background-color: #fafafabd

    }

    .footers{
        font-weight: 100;
    }
}
